@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* * {
    font-family: montserrat, sans-serif;
} */

.palettes {
    color: #e4f1fe #8dc6ff #22313f #34495e #84ADEA;    
}

/* Navbar */
header {
    z-index: 998;
    position: sticky;
    top: 0;
}

.navbar {
    padding: 0px 80px;
    background-color: #84ADEA;
    width: 100%;
    height: 100px;
}

.logo-holder {
    width: 150px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.logo {
    height: 70px;
}

.text-navs a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 550;
}

.text-navs a:hover {
    color: rgb(231, 231, 231);
}

.logo-navs a {
    margin-right: 20px;
}

.txt {
    display: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 550;
} .txt:hover {
    color: rgb(231, 231, 231);
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

/* Main */
/* section:products */

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 90%;
    margin: auto;
    padding: 20px;
}

.product-card {
    width: 100%;
    margin: auto;
    padding: 20px;
    background: rgb(220, 220, 220);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-img-holder {
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-bottom: 15px;
    background-color: #fefefe;
}

@media(max-width: 500px) {
    .product-img-holder {
        height: 160px;
    }
}

.product-img-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add-cart, .buy-now {
    margin-right: 10px;
    padding: 1px 5px;
    border: 2px solid #000;
}

.add-cart:hover, .buy-now:hover {
    background-color: rgb(222, 222, 222);
} .add-cart:active, .buy-now:active {
     background-color: rgb(200, 200, 200);
} 

/* Modal */
.modal {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    overflow: hidden;
} .modal.active {
    display: block;
}

.modal-display {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    display: flex;
    flex-direction: row;
}

.modal-img-holder {
    width: 300px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
    text-align: center;
    border: 2px solid #000;
}
.modal-img-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.order-form {
    width: 500px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.close {
    float: right;
    font-size: 35px;
    font-weight: bolder;
} .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* about-page.php */

.content1 {
    margin: 40px 80px;
    display: flex;
    align-content: center;
}

.about-img {
    width: 600px;
}

.description {
    text-align: justify;
}

/* contact-page.php */

.content {
    margin: 40px 80px;
    display: flex;
    justify-content: space-around;
}

.opinion {
    width: 600px;
} .contact-form {
    width: 400px;
}

/* Screen size Responsiveness */

@media(max-width: 950px) {

}

@media(max-width: 840px) {

}

@media(max-width: 750px) {

}