* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main */

main {
    padding: 30px 40px;
    text-align: center;
}

/* Quiz container */

.quiz-container {
    margin: auto;
    padding: 40px;
    border: 2px solid black;
    border-radius: 30px;
    width: 700px;
}

.quiz-questions img {
    width: 600px;
    object-fit: cover;
    border: 2px solid black;
    padding: 0;
}

/* Feedback */

.feedback {
    margin: 15px;
}

/* Quiz choices */
.quiz-choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px 10px 20px;
}

.choices-btn {
    padding: 20px;
}

.next-btn {
    padding: 8px 12px;
}